
.icon {
    background-size: contain;
    display: inline-block;
    width: 27px;
    height: 25px;
    float: right;
    margin-top: 7px;
    margin-right: 10px;
}

        * {
    margin: 0;
}




*{margin:0;}.button{-moz-box-shadow:inset 0 1px 0 0 #7a8eb9;-webkit-box-shadow:inset 0 1px 0 0 #7a8eb9;box-shadow:inset 0 1px 0 0 #7a8eb9;background:-webkit-gradient(linear,left top,left bottom,color-stop(.05,#637aad),color-stop(1,#5972a7));background:-moz-linear-gradient(top,#637aad 5%,#5972a7 100%);background:-webkit-linear-gradient(top,#637aad 5%,#5972a7 100%);background:-o-linear-gradient(top,#637aad 5%,#5972a7 100%);background:-ms-linear-gradient(top,#637aad 5%,#5972a7 100%);background:linear-gradient(to bottom,#637aad 5%,#5972a7 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad',endColorstr='#5972a7',GradientType=0);background-color:#637aad;border:1px solid #314179;color:#fff;font-size:16px;font-weight:700;height:27px;line-height:27px;text-decoration:none;width:180px;display:block;margin-top:4px;text-align:center}.smallfont{font-size:12px}.name{color:#3c5a96;font-weight:700;font-size: 100%;}.congrats{background-color:#fff;text-align:center;line-height:1.5;border-radius:3px;margin-bottom:5px;padding:8px}.timer{background-color:#fff;line-height:1.5;border-radius:3px;margin-bottom:5px;padding:8px}.prize{background-color:#fff;margin-bottom:5px;border-radius:3px}#secondpage{display:none}
  

        a.button {
            text-decoration: none
        }
        :focus {
            outline: 0
        }
        td {
            background-color: transparent;
            -webkit-transition: all .3s ease-in;
            -moz-transition: all .3s ease-in;
            -ms-transition: all .3s ease-in;
            -o-transition: all .3s ease-in;
            transition: all .3s ease-in
            
        }
        /* spin */
        ol {
            list-style: decimal inside;
            padding-left: 0px;
            overflow-x: visible;
        }
        ol li{
            list-style-type: decimal;
        }
        @media screen and (min-width: 381px){
            .prize{
                font-size: 16px;
            }
        }
        @media screen and (min-width: 460px){
            .prize{
                font-size: 18px;
            }
        }
        @media screen and (max-width: 359px){
            .button{
                width: 150px!important;
            }
            .like-line-menu__item{
                float: left;
            }
            .send-comments--submit{
                width: 65px!important;
            }
        }
        .timer{
            font-size: 12px;
        }
        #secondpage a{
            text-decoration: none;
        }
        .regular_price, .your_price{
            font-weight: 700;
        }
        .red_text{
            color: red;
        }
        .your_price span{
            color: green;
        }</style>
    <style> body {
            background: #d3d6db;
            margin: 0;
            padding: 0;
            font-family: helvetica, arial, sans-serif;
            font-size: small
        }
      
        .item {
            color: #1f2430;
            margin-bottom: 3px;
            padding: 2px;
            background: #fff;
            font-size: small;
            border-radius: 3px
        }
        .item .track {
            font-weight: 700;
            font-size: small
        }
        .item .lightblue2 {
            color: #000;
            margin-top: 2px;
            font-size: 12px;
            font-weight: 700
        }
        .track a {
            color: #3b5998;
            text-decoration: none
        }
        .clear {
            clear: both
        }
        .item .img {
            float: left;
            border: 0 solid #666;
            padding: 1px
        }
        .contestwrap {
            margin-bottom: 5px
        }
        .toptext {
            background: #fff;
            min-height: 40px;
            color: #1e2330;
            font-size: 11px;
            padding: 8px;
            border-radius: 3px
        }
        .secondary {
            color: #1f2430;
            margin-top: 5px;
            margin-bottom: 5px
        }
        .secondary span.lightblue {
            color: #1f2430;
            font-weight: 700;
            padding-right: 5px
        }
        .container {
            margin-left: -15px;
            margin-right: -15px;
        }


        .rating {
            font-size: 12px
        }
        .button1 {
            width: 180px;
            display: block;
            outline: 0 none;
            padding: 0 8px;
            margin-top: 8px;
            text-align: center;
            background-color: #9f9f9f;
            border: 0 solid #666;
            color: #fff;
            border-radius: 1px 1px 1px 1px;
            cursor: default;
            font-size: 20px;
            font-weight: 700;
            height: 33px;
            line-height: 33px
        }
        .button1 a {
            color: #ccc;
            text-decoration: none;
            font-size: small;
            cursor: hand
        }
        a.button1 {
            text-decoration: none
        }
        .red {
            color: #fff;
            font-weight: 700
        }
        .green {
            color: #3C6;
            font-weight: 700
        }
        .select {
            background: #fff;
            margin: 3px 0 5px;
            color: #1f2430;
            font-size: small;
            line-height: 18px;
            padding: 5px;
            border-radius: 3px
        }
        .yellow {
            color: #3b5998
        }
        .left {
            float: left;
            width: 100px;
            margin-right: 5px;
            text-align: center;
            min-height: 60px
        }
        .right {
            float: left;
            width: 65%
        }
        .comments {
            background: #f6f7f8;
            border-radius: 3px;
            margin: 0;
            padding: 0;
        }
        :focus {
            outline: 0
        }
        .like-line-menu {
            background-color: #F3F3F3;
            border: #dadde1 solid;
            border-width: 1px 0;
            margin-top: 0;
        }
        .like-line-menu__item {
            display: inline-block;
            padding: 0 8px;
            position: relative;
            width: 27%;
            text-align: center;
        }
        .action_like{
            cursor: pointer;
        }
        .icon_like::before, .icon_comment::before, .icon_share::before{
    content: '';
    display: inline-block;
    height: 31px;
    margin-bottom: 1px;
    margin-right: 1px;
    vertical-align: middle;
    width: 12px;
    background-image: url("sprite_fb.png");
    background-repeat: no-repeat;
    background-size: auto;
        }
        .icon_like::before{
            background-position: -136px -50px;
        }
        .icon_comment::before{
            background-position: -119px -50px;
        }
        .icon_share::before{
            background-position: -170px -50px;
        }
        .like-line-menu__item::before {
            border-left: 1px solid #d6d8db;
            bottom: 7px;
            content: '';
            left: 0;
            position: absolute;
            top: 7px
        }
        .like-line-menu__item:first-child::before {
            display: none
        }
        .like-line-menu__item,
        .like-line-menu__item a {
            font-size: 10px;
            line-height: 36px;
            color: #5e5e5e;
            text-decoration: none;
            font-weight: 700
        }
        .like-count-line {
            padding: 8px;
            font-size: 14px;
            line-height: 16px;
            border-bottom: 1px #dadde1 solid;
            color: #000;
            font-weight: bold;
        }
        .inner_like_count_line{
            display: inline-block;
        }
        .icons_likes {
            display: inline-block;
            line-height: 16px;
            vertical-align: middle;
            height: 17px;
        }
        ._1g05:first-child {
            margin-left: 0;
        }
        ._1g05 {
            border-radius: 10px;
            margin-left: -6px;
            padding-right: 2px;
            padding-top: 1px;
            display: inline-block;
            position: relative;
            background-color: #fff;
        }
        .icon_likes_img {
            background-image: url("sprite_fb.png");
            background-size: auto;
            background-repeat: no-repeat;
            display: inline-block;
            height: 16px;
            width: 16px;
			    margin-bottom: -4px;
        }
        .like_1{
            background-position: -136px -110px;
        }
        .like_2{
            background-position: -153px -110px;
        }
        .like_3{
            background-position: -238px -110px;
        }
        ._1g06 {
           display: inline;
    margin-left: -3px;
    vertical-align: middle;
        }
        .shares{
            padding: 8px;
            font-size: 14px;
            font-weight: normal;
            border: #dadde1 solid;
            border-width: 0 0 1px 0;
        }
        .send-comments {
            border-bottom: 1px #dadde1 solid;
            padding: 8px
        }
        .send-comments--input_wrapper {
            float: left;
            width: 100%;
            display: inline
        }
        .send-comments--input_inner {
            margin-right: 62px
        }
        .send-comments--input {
            width: 100%;
            resize: none;
            border: 1px solid #dcdee3;
            background: #FFF;
            box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .07);
            padding: 8px;
            height: 40px;
            font-size: 14px;
            line-height: 20px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box
        }
        .send-comments--input:focus {
            height: 72px
        }
        .send-comments--submit_wrapper {
            width: 54px;
            margin-left: -54px;
            float: left;
            text-align: center;
            display: inline
        }
        .send-comments--submit {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            height: 40px;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(0, 0, 0, .10) rgba(0, 0, 0, .155) rgba(0, 0, 0, .29);
            background-color: #f6f7f9;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            color: #bec2c9;
            font-size: 12px;
            line-height: 36px;
            font-family: sans-serif;
            font-weight: 700;
            -webkit-appearance: none;
            padding: 0 8px;
            margin-top: 0;
            background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, 0));
            text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
            position: relative;
            left: -5px;
            width: 100%;
        }
        .send-comments--submit--active {
            color: #FFF;
            background: #5B93FC;
            cursor: pointer
        }
        .comments__item__meta {
            font-size: 14px;
            line-height: 14px;
            margin-top: 6px
        }
        .comments__item__meta__item {
            display: inline-block;
            color: #9197A3;
            position: relative;
            margin-left: -3px;
        }
        .comments__item__meta__item:first-child::before {
            display: none
        }
        .comments__item__meta__item:last-child::after{
            display: none;
        }
        .comments__item__meta__item:first-child {
            padding-left: 0;
            margin-left: 0;
        }
        .comments__item__meta__item a {
            color: #8190b0;
            text-decoration: none
        }
        .comments__item__meta__item__like_count .ico {
            background: url("184d98f4e90a0fb19fc0b5dde2df5fbfd5fd1b62.png") no-repeat;
            width: 12px;
            height: 12px;
            display: inline-block;
            margin-right: 4px;
            margin-top: 1px;
            vertical-align: top
        }
        .comments__item__meta__item::after{
            content: '\a0\b7\a0';
        }
        .message_active td {
            background-color: #fdf9df
        }
        .photo_avatar img{
            width: 40px;
        }
        td {
            background-color: transparent;
            -webkit-transition: all .3s ease-in;
            -moz-transition: all .3s ease-in;
            -ms-transition: all .3s ease-in;
            -o-transition: all .3s ease-in;
            transition: all .3s ease-in
        }
        hr {
            height: 0;
            font-size: 0;
            line-height: 0;
            border: none;
            background: none;
            border-bottom: 1px #dadde1 solid
        }
        .header a.item {
            float: left;
            display: block;
            background: none;
            width: 16.66666%;
            overflow: hidden;
            text-align: center;
            height: 45px;
            padding: 0px;
            margin: 0px;
        }
        .header a.item span {
            background-image: url("");
            background-position: center top;
            display: block;
            width: 60px;
            height: 45px;
            margin: 0px auto;
        }
        .header a.item:first-child {
            background-color: #243C6D;
        }
        .header a.item:nth-child(2) span {
            background-position: center 249px;
        }
        .header a.item:nth-child(3) span {
            background-position: center 199px;
        }
        .header a.item:nth-child(4) span {
            background-position: center 149px;
        }
        .header a.item:nth-child(5) span {
            background-position: center 99px;
        }
        .header a.item:nth-child(6) span {
            background-position: center 49px;
        }
        /* spin */
        .hide-all {
        overflow: hidden;
        }
        ol,
        ul {
            list-style: decimal inside;
            padding-left: 0px;
            overflow-x: visible;
        }
        ol li{
            list-style-type: decimal;
        }
        .clearfix:after {
            content: " ";
            display: block;
            height: 0;
            clear: both;
            overflow: hidden;
            visibility: hidden
        }
        .clearfix {
            display: block
        }
        .wrapper {
            background-color: #fff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 7px;
            width: 96%;
            margin: 0 auto 14px;
            border: 1px solid #c4cde1;
            border-top: 0;
            max-width: 414px
        }
        .logo {
            display: block;
            margin: 4px auto;
        }
        .txt {
            padding: 5px 6px;
            line-height: 18px;
            text-align: center
        }
        .bottom {
            width: 92%;
            margin: 20px auto 0;
            border: 1px solid #ccc;
            background-color: #f2f2f2;
            padding: 5px;
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px
        }
        .now {
            text-align: center;
            padding-top: 5px
        }
        #countdown {
            font-weight: bold;
        }
        .rules {
            color: #1b316c;
            padding: 4px 5px;
            line-height: 22px
        }
        .cta {
            display: block;
            background-color: #39579a;
            padding: 10px 0;
            text-align: center;
            font-weight: 700;
            color: #fff;
            font-size: 1.6em;
            border-bottom: 1px solid #1b316c;
            margin: 7px 13px 5px;
            text-decoration: none
        }
        .show-all {
            display: none;
        }
        .now2 {
            padding-top: 10px;
            font-weight: bold;
        }
        .terms {
            text-align: center;
            font-size: 11px;
            color: #666;
            padding: 4px;
            display: block;
            text-align: center;
            margin-top: 4px;
            text-align: justify;
        }
        hr {
            margin: 0px 5px;
        }
        @media screen and (min-width: 381px){
            .prize{
                font-size: 16px;
            }
        }
        @media screen and (min-width: 460px){
            .prize{
                font-size: 18px;
            }
            .like-line-menu__item, .like-line-menu__item a{
                font-size: 16px;
            }
            .timer{
                font-size: 12px;
            }
            .comments__item__meta{
                font-size: 14px;
            }
            .spec-header span {
                font-size: 8px;
            }
        }
        .proof {
            background: url("") no-repeat top left;
            width: 200px;
        }
        .proof.proof1 {
            background-position: 0 -80px;
            height: 266px
        }
        .proof.proof2 {
            background-position: 0 -346px;
            height: 150px
        }
        .fbimg{
            margin-top: 10px;
        }
        .fbimg img{
             max-width: 100%;
         }
         .send-comments--submit{font-size: 9px;}